<div class="page full-height bg-import">
  <h1>Import csv</h1>
  <div class="mb-3">
    <button type="button" class="btn btn-primary" (click)="downloadCsvSample()">
      Download Sample
    </button>
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Import csv</label>
    <input
      type="file"
      class="form-control"
      id="fileUpload"
      (change)="onFileSelected($event)"
      #fileUpload
      (dragover)="dragOver($event)"
      (dragenter)="dragEnter($event)"
      (dragleave)="dragLeave($event)"
      (drop)="onDrop($event)"
    />
  </div>
<!--  to be checked  -->
  <ul
    class="list-group border blocked-size-max mb-3"
    *ngIf="redToBeChecked.length > 0 && !rulesChecked"
  >
    <li
      class="list-group-item"
      *ngFor="let rule of this?.redToBeChecked; let idr = index"
    >
      <div class="draggable-item">
        <app-rule-line
          [movable]="false"
          [id]="-1"
          [idr]="idr"
          [rule]="rule"
          [redirectTypes]="redirectTypes"
          (onChange)="changeSave($event)"
        ></app-rule-line>
      </div>
    </li>
  </ul>
<!--  progress BAR   -->
  <div *ngIf="checkInProgress" class="progress mb-3">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      [style.width.%]="this.percent()"
      [attr.aria-valuenow]="this.progressCount"

      aria-valuemin="0"
      [attr.aria-valuemax]="this.redToBeChecked.length"
    >{{this.percent()}}</div>
  </div>
<!--  check BUTTON  -->
  <button
    *ngIf="redToBeChecked.length > 0 && this.has_ipc"
    color="primary"
    class="btn btn-primary mb-3"
    (click)="checkImport()"
  >
    Check Redirections
  </button>

<!--  to be saved  -->
  <ul
    class="list-group border blocked-size-max mb-3 rules good text-center"
    *ngIf="redToBeSaved.length > 0 && rulesChecked"
  >
  OK
  <li
      class="list-group-item"
      *ngFor="let rule of this?.redToBeSaved; let idr = index"
    >
    <app-rule-line
          [movable]="false"
          [id]="-1"
          [idr]="idr"
          [rule]="rule"
          [redirectTypes]="redirectTypes"
          (onChange)="changeSave($event)"
        ></app-rule-line>
  </li>
</ul>
<!--  save BUTTON -->
<button
*ngIf="redToBeSaved.length > 0 && rulesChecked"
color="success"
class="btn btn-success mb-3"
(click)="uploadCsvRedirect()"
>
Upload Redirections
</button>
<!--  not good redirections  -->
<ul
    class="list-group border blocked-size-max mb-3 rules update text-center"
    *ngIf="redToBeUpdated.length > 0 && rulesChecked"
  >
  UPDATE
  <li
      class="list-group-item"
      *ngFor="let bad of this?.redToBeUpdated; let idr = index"
    >
    <app-rule-line-bad-redirection
          [reason]="bad.reason"
          [reasonCode]="bad.reason_code"
          [id]="-1"
          [idr]="idr"
          [rule]="bad.rule"
          [redirectTypes]="redirectTypes"
          (onChange)="changeSave($event)"
        ></app-rule-line-bad-redirection>
  </li>
</ul>
<!--  export BUTTON -->
<button
*ngIf="redToBeUpdated.length > 0 && rulesChecked"
  color="warning"
  class="btn btn-warning mb-3"
  (click)="UpdateExistingRedirections()"
>
Update Redirections
</button>
<!--  not good redirections  -->
<ul
    class="list-group border blocked-size-max mb-3 rules bad text-center"
    *ngIf="badRedirections.length > 0 && rulesChecked"
  >
  PAS OK
  <li
      class="list-group-item"
      *ngFor="let bad of this?.badRedirections; let idr = index"
    >
    <app-rule-line-bad-redirection
          [reason]="bad.reason"
          [reasonCode]="bad.reason_code"
          [id]="-1"
          [idr]="idr"
          [rule]="bad.rule"
          [redirectTypes]="redirectTypes"
          (onChange)="changeSave($event)"
        ></app-rule-line-bad-redirection>
  </li>
</ul>
<!--  export BUTTON -->
<button
*ngIf="badRedirections.length > 0 && rulesChecked"
  color="danger"
  class="btn btn-danger mb-3"
  (click)="ExportBadRedirections()"
>
Export Bad Redirections
</button>
</div>
