<div class="page full-height bg-import">
  <h1>Import csv</h1>
  <div class="mb-3">
    <button type="button" class="btn btn-primary" (click)="downloadCsvSample()">
      Download Sample
    </button>
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Import csv</label>
    <input
      type="file"
      class="form-control"
      id="formFile"
      (change)="onFileSelected($event)"
      #fileUpload
    />
  </div>
  <div *ngIf="this.has_ipc" class="badge bg-success mb-3" (click)="testSend()">
    IPC OK
  </div>

  <ul
    class="list-group border blocked-size-max mb-3"
    *ngIf="redToBeChecked.length > 0 && !rulesChecked"
  >
    <li
      class="list-group-item"
      *ngFor="let rule of this?.redToBeChecked; let idr = index"
    >
      <div class="draggable-item">
        <app-rule-line
          [movable]="false"
          [id]="-1"
          [idr]="idr"
          [rule]="rule"
          [redirectTypes]="redirectTypes"
          (onChange)="changeSave($event)"
        ></app-rule-line>
      </div>
    </li>
  </ul>
  <div *ngIf="checkInProgress" class="progress mb-3">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      [style.width.%]="this.percent()"
      [attr.aria-valuenow]="this.progressCount"
      
      aria-valuemin="0"
      [attr.aria-valuemax]="this.redToBeChecked.length"
    >{{this.percent()}}</div>
  </div>
  <button
    *ngIf="redToBeChecked.length > 0 && this.has_ipc"
    color="primary"
    class="btn btn-primary mb-3"
    (click)="checkImport()"
  >
    Check Redirections
  </button>
  <ul
    class="list-group border blocked-size-max mb-3"
    *ngIf="redToBeSaved.length > 0 && rulesChecked"
  >
  OK
  <li
      class="list-group-item"
      *ngFor="let rule of this?.redToBeSaved; let idr = index"
    >
    <app-rule-line
          [movable]="false"
          [id]="-1"
          [idr]="idr"
          [rule]="rule"
          [redirectTypes]="redirectTypes"
          (onChange)="changeSave($event)"
        ></app-rule-line>
  </li>
</ul>
<ul
    class="list-group border blocked-size-max mb-3"
    *ngIf="badRedirections.length > 0 && rulesChecked"
  >
  PAS OK
  <li
      class="list-group-item"
      *ngFor="let bad of this?.badRedirections; let idr = index"
    >
    <app-rule-line
          [movable]="false"
          [id]="-1"
          [idr]="idr"
          [rule]="bad.rule"
          [redirectTypes]="redirectTypes"
          (onChange)="changeSave($event)"
        ></app-rule-line>
  </li>
</ul>
  <button
    *ngIf="rulesChecked"
    color="primary"
    class="btn btn-primary mb-3"
    (click)="uploadCsvRedirect()"
  >
    Upload Redirections
  </button>
</div>
