
      <form id="rule_{{id}}_{{idr}}">
          <div class="input-group input-group-sm m-0  flex-nowrap p-0">

              <span class="input-group-text">
                <span class="column-drag-handle" style="float:left; padding:0 3px;">&#x2630;</span>
                <input class="form-check-input mt-0 form-check-sm" type="checkbox" [(ngModel)]="toBeDeleted" name="to-be-deleted" >
              </span>
              <select name="redirect_types" class="form-select form-select-sm " title="Type de Redirection" [(ngModel)]="rule.redirect_type_id"  (change)="verifChange()">
                <option *ngFor="let redType of redirectTypes" [ngValue]="redType.id">{{redType.label | uppercase}}</option>
              </select>
              <input type="text" class="form-control  form-control-sm w-25" aria-label="origin" title="origin"
              [(ngModel)]="rule.origin" name="origin"  (input)="verifChange()">
              <input type=" text" class="form-control form-control-sm w-50" aria-label="target" title="target"
              [(ngModel)]="rule.target" name="target"  (input)="verifChange()">
              <div class="form-check form-switch" title="Active ?">
                <input class="form-check-input mt-2" type="checkbox" [(ngModel)]="rule.active" name="active" (change)="verifChange()">
            </div>
              <button class="btn btn-outline-secondary btn-sm"  type="button" id="button-addon2"(click)="changeSave(toBeDeleted)">{{(toBeDeleted?icons.iconDelete:(toBeSaved?icons.iconRefresh:icons.iconCheck))}}</button>
          </div>
      </form>

