
      <form id="rule_{{id}}_{{idr}}" class="{{isPartOftheSet?'bg-primary':''}}">
          <div class="input-group input-group-sm m-0  flex-nowrap p-0 ">

              <span class="input-group-text bg-vscode text-vscode">
                <span *ngIf="this.movable" class="column-drag-handle" style="float:left; padding:0 3px;">&#x2630;</span>
                <span *ngIf="!this.movable" class="scope-id" style="float:left; padding:0 3px;">{{rule.scope_id}}</span>
                <input *ngIf="this.movable" class="form-check-input mt-0 form-check-sm" type="checkbox" [(ngModel)]="toBeDeleted" name="to-be-deleted" (change)="changeCheck($event)">
              </span>
              <select name="redirect_types" class="form-select form-select-vscode form-select form-select--sm " title="Type de Redirection" [(ngModel)]="rule.redirect_type_id"  (change)="verifChange()">
                <option *ngFor="let redType of redirectTypes" [ngValue]="redType.id">{{redType.label | uppercase}}</option>
              </select>
              <input type="text" class="form-control form-control-vscode  form-control-sm w-25" aria-label="origin" title="origin"
              [(ngModel)]="rule.origin" name="origin"  (input)="verifChange()">
              <input type=" text" class="form-control form-control-vscode form-control-sm w-50" aria-label="target" title="target"
              [(ngModel)]="rule.target" name="target"  (input)="verifChange()">
              <div class="form-check form-switch" title="Active ?">
                <input class="form-check-input mt-2 form-check-input-vscode" type="checkbox" [(ngModel)]="rule.active" name="active" (change)="verifChange()">
            </div>
              <button *ngIf="this.movable" class="btn btn-outline-secondary btn-sm btn-outline-vscode"  type="button" id="button_save_{{id}}_{{idr}}"(click)="changeSave(toBeDeleted)">{{(toBeDeleted?icons.iconDelete:(toBeSaved?icons.iconRefresh:icons.iconCheck))}}</button>
          </div>
      </form>

