background-image: var(--bs-gradient);
.blocked-size-max{
  min-height: 15rem;
  max-height:35rem;
  overflow-y: scroll;
}
textarea:focus,
textarea {
  
  padding:2rem;
  color: #d4d4d4;
  background-color: #1e1e1e;
  font-family: Consolas, "Courier New", monospace;
  font-weight: normal;
  font-size: 14px;
  font-feature-settings: "liga" 0, "calt" 0;
  line-height: 19px;
  letter-spacing: 0px;
  white-space: pre;
}



.card-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(1deg)
}

.card-ghost-drop{
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg)
}
.opacity-ghost {
  transition: all .18s ease;
  opacity: 0.8;
  cursor: ns-resize;
  transform: rotateZ(1deg);
  background-color: cornflowerblue;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.3);
}
.opacity-ghost-drop {
  opacity: 1;
  /* transform: rotateZ(0deg); */
  background-color: white;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.0);
}
