<h1>Gestion du fichier</h1>
<div class="accordion shadow-sm" id="globalOverview">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headerGlobalOverview">
      <button
        class="accordion-button collapsed bg-light bg-gradient"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseHeaderGlobalOverview"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        Header config
      </button>
    </h2>
    <div
      id="collapseHeaderGlobalOverview"
      class="accordion-collapse collapse"
      aria-labelledby="headerGlobalOverview"
      data-bs-parent="#globalOverview"
    >
      <div class="accordion-body">
        <label for="headerConfigData" class="form-label"
          >Modifier le contenu et cliquer sur enregistrer pour prendre en compte
          les modifications</label
        >
        <textarea class="form-control" id="headerConfigData" rows="20">{{
          this?.headerData
        }}</textarea>
        <button type="button" class="btn btn-primary mt-2">
          Save Header Config
        </button>
      </div>
    </div>
  </div>
  <!-- loop scopes here -->
  <div
    class="accordion-item"
    *ngFor="let scope of this?.scopes; let id = index"
  >
    <h2 class="accordion-header {{ (id % 2) == 0  ? 'alt' : '' }}" id="config{{ id }}">
      <button
        class="accordion-button {{ id == 0 ? '' : 'collapsed' }}"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapseConfig' + id"
        [attr.aria-expanded]="id == 0 ? 'true' : 'false'"
        aria-controls="collapseOne"
      >
        {{ scope.label }}
      </button>
    </h2>
    <div
      id="collapseConfig{{ id }}"
      class="accordion-collapse collapse {{ id == 0 ? 'show' : '' }}"
      aria-labelledby="config"
      data-bs-parent="#globalOverview"
    >
      <div class="accordion-body">

        <app-scope-config
          [id]="id"
          [scopeConfig]="this.scopeConfig?.[scope.id]"
          [scope]="scope"
          (onClickSave)="saveConfig($event)"
        ></app-scope-config>

        <app-rules-list
          [id]="id"
          [rules]="this.rules?.[scope.id]"
          [scope]="scope"
          [redirectTypes]="redirectTypes"
          (onEmitChange)="saveRule($event)"
        ></app-rules-list>

      </div>
    </div>
  </div>

  <!-- !loop scopes here -->
  <div class="accordion-item">
    <h2 class="accordion-footer" id="footerGlobalOverview">
      <button
        class="accordion-button collapsed  bg-light bg-gradient"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFooterGlobalOverview"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        Footer config
      </button>
    </h2>
    <div
      id="collapseFooterGlobalOverview"
      class="accordion-collapse collapse"
      aria-labelledby="footerGlobalOverview"
      data-bs-parent="#globalOverview"
    >
      <div class="accordion-body">
        <label for="footerConfigData" class="form-label"
          >Modifier le contenu et cliquer sur enregistrer pour prendre en compte
          les modifications</label
        >
        <textarea class="form-control" id="footerConfigData" rows="20">{{
          this?.footerData
        }}</textarea>
        <button type="button" class="btn btn-primary mt-2">
          Save Footer Config
        </button>
      </div>
    </div>
  </div>
</div>
