background-image: var(--bs-gradient);
.blocked-size-max{
  min-height: 15rem;
  max-height:35rem;
  overflow-y: scroll;
}
textarea:focus,
textarea {
  padding:1rem;
  padding:1rem;
  color: #d4d4d4;
  background-color: #1e1e1e;
  font-family: Consolas, "Courier New", monospace;
  font-weight: normal;
  font-size: 14px;
  font-feature-settings: "liga" 0, "calt" 0;
  line-height: 19px;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
