<div class="page full-height bg-vscode-dark text-vscode">
  <app-alert #alert></app-alert>
<h1><i18n [txt]="'Manage rules'"></i18n></h1>
<div class="accordion shadow-sm" id="globalOverview">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headerGlobalOverview">
      <button
        class="accordion-button collapsed bg-vscode text-vscode"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseHeaderGlobalOverview"
        aria-controls="collapseHeaderGlobalOverview"
      >
      <img class="mr-2 svg-vs-code" src="assets/svg/header.svg" height="30px" width="30px">
      <i18n [txt]="'%0 Config'" [val]="['Header']"></i18n>
      </button>
    </h2>
    <div
      id="collapseHeaderGlobalOverview"
      class="accordion-collapse collapse"
      aria-labelledby="headerGlobalOverview"
      data-bs-parent="#globalOverview"
    >
      <div class="accordion-body text-vscode bg-vscode">
        <label for="headerConfigData" class="form-label"
          ><i18n [txt]="'Modify content then click on Save %0 Config'" [val]="['Header']"></i18n></label
        >
        <textarea class="form-control form-control-vscode" id="headerConfigData" rows="20" [(ngModel)]="this.headerData"></textarea>
        <button type="button" class="btn btn-primary mt-2"  (click)="saveHeaderConfig()">
          <i18n [txt]="'Save %0 Config'" [val]="['Header']"></i18n>
        </button>
      </div>
    </div>
  </div><app-scope-accordion
    [rules]="this?.rules"
    [scopes]="this?.scopes"
    [redirectTypes]="this?.redirectTypes"
    [scopeConfig]="this?.scopeConfig"
    [updateRulesPositionProgress]="this.updateRulesPositionProgress"
    (onConfig)="updateScopeConfig($event)"
    (onRule)="saveRule($event)"
    (onRulesPositions)="updateRulesPositions($event)"
    (onScopesPosition)="updateScopesPositions($event)"
    (onScope)="updateScope($event)"
  ></app-scope-accordion>

  <div class="accordion-item">
    <h2 class="accordion-header" id="footerGlobalOverview">
      <button
        class="accordion-button collapsed bg-vscode text-vscode"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFooterGlobalOverview"
        aria-expanded="false"
        aria-controls="collapseFooterGlobalOverview"
      >
      <img class="mr-2 svg-vs-code" src="assets/svg/footer.svg" height="30px" width="30px">
      <i18n [txt]="'%0 Config'" [val]="['Footer']"></i18n>
      </button>
    </h2>
    <div
      id="collapseFooterGlobalOverview"
      class="accordion-collapse collapse bg-vscode text-vscode"
      aria-labelledby="footerGlobalOverview"
      data-bs-parent="#globalOverview"
    >
      <div class="accordion-body text-vscode bg-vscode">
        <label for="footerConfigData" class="form-label"
          ><i18n [txt]="'Modify content then click on Save %0 Config'" [val]="['Footer']"></i18n></label
        >
        <textarea class="form-control form-control-vscode" id="footerConfigData" rows="20" [(ngModel)]="this.footerData"></textarea>
        <button type="button" class="btn btn-primary mt-2" (click)="saveFooterConfig()">
          <i18n [txt]="'Save %0 Config'" [val]="['Footer']"></i18n>
        </button>
      </div>
    </div>
  </div>
</div>
</div>

