<div class="page full-height bg-overview">
<h1>Gestion du fichier</h1>
<div class="accordion shadow-sm" id="globalOverview">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headerGlobalOverview">
      <button
        class="accordion-button collapsed bg-light bg-gradient"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseHeaderGlobalOverview"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        Header config
      </button>
    </h2>
    <div
      id="collapseHeaderGlobalOverview"
      class="accordion-collapse collapse"
      aria-labelledby="headerGlobalOverview"
      data-bs-parent="#globalOverview"
    >
      <div class="accordion-body">
        <label for="headerConfigData" class="form-label"
          >Modifier le contenu et cliquer sur enregistrer pour prendre en compte
          les modifications</label
        >
        <textarea class="form-control" id="headerConfigData" rows="20">{{
          this?.headerData
        }}</textarea>
        <button type="button" class="btn btn-primary mt-2">
          Save Header Config
        </button>
      </div>
    </div>
  </div><app-scope-accordion
    [rules]="this?.rules"
    [scopes]="this?.scopes"
    [redirectTypes]="this?.redirectTypes"
    [scopeConfig]="this?.scopeConfig"
    (onConfig)="saveConfig($event)"
    (onRule)="saveRule($event)"
    (onRulesPositions)="updateRulesPositions($event)"
    (onScopesPosition)="updateScopesPositions($event)"
    (onScope)="updateScope($event)"
  ></app-scope-accordion>
  
  <div class="accordion-item">
    <h2 class="accordion-footer" id="footerGlobalOverview">
      <button
        class="accordion-button collapsed bg-light bg-gradient"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFooterGlobalOverview"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        Footer config
      </button>
    </h2>
    <div
      id="collapseFooterGlobalOverview"
      class="accordion-collapse collapse"
      aria-labelledby="footerGlobalOverview"
      data-bs-parent="#globalOverview"
    >
      <div class="accordion-body">
        <label for="footerConfigData" class="form-label"
          >Modifier le contenu et cliquer sur enregistrer pour prendre en compte
          les modifications</label
        >
        <textarea class="form-control" id="footerConfigData" rows="20">{{
          this?.footerData
        }}</textarea>
        <button type="button" class="btn btn-primary mt-2">
          Save Footer Config
        </button>
      </div>
    </div>
  </div>
</div>
</div>