<div class="accordion" id="globalOverview">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headerGlobalOverview">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseHeaderGlobalOverview"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Header config
      </button>
    </h2>
    <div
      id="collapseHeaderGlobalOverview"
      class="accordion-collapse collapse"
      aria-labelledby="headerGlobalOverview"
      data-bs-parent="#globalOverview"
    >
      <div class="accordion-body">
        <label for="headerConfigData" class="form-label"
          >Modifier le contenu et cliquer sur enregistrer pour prendre en compte
          les modifications</label
        >
        <textarea class="form-control" id="headerConfigData" rows="20">{{
          this?.headerData
        }}</textarea>
        <button type="button" class="btn btn-primary mt-2">
          Save Header Config
        </button>
      </div>
    </div>
  </div>
  <!-- loop scopes here -->
  <div
    class="accordion-item"
    *ngFor="let scope of this?.scopes; let id = index"
  >
    <h2 class="accordion-header" id="config{{ id }}">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapseConfig' + id"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        {{ scope.label }}
      </button>
    </h2>
    <div
      id="collapseConfig{{ id }}"
      class="accordion-collapse collapse {{ id == 0 ? 'show' : '' }}"
      aria-labelledby="config"
      data-bs-parent="#globalOverview"
    >
      <div class="accordion-body">
        <app-scope-config
          [id]="id"
          [scopeConfig]="this.scopeConfig?.[scope.id]"
          [scope]="scope"
          (onClickSave)="saveConfig($event)"
        ></app-scope-config>

        <ul class="list-group border overflow-auto blocked-size-max">
          <li
            class="list-group-item p-0"
            *ngFor="let rule of this.rules?.[scope.id], let idr = index"
          >
            <app-list-rules
              [id]="id"
              [idr]="idr"
              [rule]="rule"
              [scope]="scope"
              [redirectTypes]="redirectTypes"
              (onChangeSave)="saveRule($event)"
            ></app-list-rules>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <ul class="list-group">
        <li *ngFor="let scope of this?.scopes, let id = index" class="list-group-item">
            <h3>{{scope.label}}</h3>
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </li>
    </ul> -->

  <!-- !loop scopes here -->
  <div class="accordion-item">
    <h2 class="accordion-footer" id="footerGlobalOverview">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFooterGlobalOverview"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Footer config
      </button>
    </h2>
    <div
      id="collapseFooterGlobalOverview"
      class="accordion-collapse collapse"
      aria-labelledby="footerGlobalOverview"
      data-bs-parent="#globalOverview"
    >
      <div class="accordion-body">
        <label for="footerConfigData" class="form-label"
          >Modifier le contenu et cliquer sur enregistrer pour prendre en compte
          les modifications</label
        >
        <textarea class="form-control" id="footerConfigData" rows="20">{{
          this?.footerData
        }}</textarea>
        <button type="button" class="btn btn-primary mt-2">
          Save Footer Config
        </button>
      </div>
    </div>
  </div>
</div>
