<div class="card text-dark bg-light mb-3 shadow-sm  border border-primary">
  <div class="card-header">Rules:</div>
  <div class="card-body p-2">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      [attr.data-bs-target]="'#rulesModal' + scope.id"
    >
      Manage {{ scope.label }} Rules
    </button>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  id="rulesModal{{ scope.id }}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rules for {{ scope.label }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group border blocked-size-max">
          <smooth-dnd-container
            [dragClass]="'opacity-ghost'"
            [lockAxis]="'y'"
            [dragBeginDelay]="200"
            [dragHandleSelector]="'.column-drag-handle'"
            [dropClass]="'opacity-ghost-drop'"
            (drop)="onDrop($event)"
          >
            <smooth-dnd-draggable
              *ngFor="let rule of this?.rules; let idr = index"
            >
              <div class="draggable-item">
                <app-rule-line
                  [id]="id"
                  [idr]="idr"
                  [rule]="rule"
                  [redirectTypes]="redirectTypes"
                  (onChange)="changeSaveRule($event)"
                ></app-rule-line>
              </div>
            </smooth-dnd-draggable>
          </smooth-dnd-container>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="updateRulesPositions()">Save Positions Change</button>
      </div>
    </div>
  </div>
</div>
