<div class="app-bar d-flex d-lg-none">
  <div class="logo"></div>
  <span class="app-title text-vscode-alt text-bold">{{title}}</span>
  <button class="btn btn-sm btn-primary no-drag" type="button" data-bs-toggle="offcanvas" [attr.data-bs-target]="'#'+sliderID" [attr.aria-controls]="sliderID" (click)="toogleConfig()">
    params
  </button>
  <app-mini-button></app-mini-button>
</div>
<!-- NavBar Header -->
<header class="d-none d-lg-block">
  <ul class="nav nav-tabs">
    <li *ngFor="let rInfo of routingInfos" class="nav-item">
      <a class="nav-link {{rInfo.style}}" [routerLinkActive]="[rInfo.active_class]" routerLink="{{rInfo.route}}">{{rInfo.label}}</a>
    </li>
    <app-mini-button></app-mini-button>
  </ul>

</header>
<!-- !NavBar Header -->

<!-- Content pages -->
<section class="app-content container-fluid">
  <!-- sidebar navigation -->
  <div class="shortcuts d-block d-lg-none">
    <ul class="nav">
      <li *ngFor="let rInfo of routingInfos">
        <app-sidebar-button
          [title]="rInfo.label"
          [route]="rInfo.route"
          [routeActive]="rInfo.active_class"
          [size]="rInfo.sidebar_button.size"
          [style]="rInfo.sidebar_button.style"
          [svg_path]="rInfo.sidebar_button.path"
        ></app-sidebar-button>
        </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</section>
<!-- !Content pages -->
<app-slider
  [id]="sliderID"
  [position]="'end'"
  [title]="'Parameters'"
  (onClose)="toogleConfig()"
  >
  <button class="btn btn-sm btn-secondary">test</button>
</app-slider>
<!-- Footer -->
<app-footer>
  <span>ok</span>
  <span>v0.0.1</span>
</app-footer>
<!-- !Footer -->
