<div class="app-bar d-flex d-lg-none">
  <div class="logo"></div>
  <span class="app-title text-vscode-alt text-bold" [title]="description">{{title}}</span>
  <button class="btn btn-sm btn-primary no-drag height-auto" type="button" data-bs-toggle="offcanvas" title="configuration" [attr.data-bs-target]="'#'+sliderID" [attr.aria-controls]="sliderID" (click)="toogleConfig()">
    <img class="svg-white" src="assets/svg/config.svg"  height="20px" width="20px">
  </button>
  <app-mini-button></app-mini-button>
</div>
<!-- NavBar Header -->
<header class="d-none d-lg-block">
  <ul class="nav nav-tabs">
    <li *ngFor="let rInfo of routingInfos" class="nav-item">
      <a class="nav-link {{rInfo.style}}" [routerLinkActive]="[rInfo.active_class]" routerLink="{{rInfo.route}}">{{rInfo.label | async}}</a>
    </li>
    <app-mini-button></app-mini-button>
    <button class="btn btn-sm btn-primary no-drag height-auto" type="button" data-bs-toggle="offcanvas" title="configuration" [attr.data-bs-target]="'#'+sliderID" [attr.aria-controls]="sliderID" (click)="toogleConfig()">
      <img class="svg-white" src="assets/svg/config.svg"  height="20px" width="20px">
    </button>
  </ul>

</header>
<!-- !NavBar Header -->

<!-- Content pages -->
<section class="app-content container-fluid">
  <!-- sidebar navigation -->
  <div class="shortcuts d-block d-lg-none">
    <ul class="nav">
      <li *ngFor="let rInfo of routingInfos">
        <app-sidebar-button
          [title]="rInfo.label"
          [route]="rInfo.route"
          [routeActive]="rInfo.active_class"
          [size]="rInfo.sidebar_button.size"
          [style]="rInfo.sidebar_button.style"
          [svg_path]="rInfo.sidebar_button.path"
        ></app-sidebar-button>
        </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</section>
<!-- !Content pages -->
<app-slider
  [id]="sliderID"
  [position]="'end'"
  [title]="'Parameters'"
  (onClose)="toogleConfig()"
  >
  <div class="form-floating">
    <select class="form-select form-select-vscode"  id="floatingSelectTheme" aria-label="Theme">
      <option value="dark">Dark</option>
      <option value="light">light</option>
    </select>
    <label for="floatingSelectTheme">Select a Theme</label>
  </div>
  <div class="form-floating">
    <select name="redirect_types" id="floatingSelectHistory" class="form-select form-select-vscode">
      <option *ngFor="let h of history" [ngValue]="h.id">{{h.guid | uppercase}}</option>
    </select>
    <label for="floatingSelectHistory">Back to history</label>
  </div>

</app-slider>
<!-- Footer -->
<app-footer
  [online]="false"
  [version]="version"
  [versionNotes]="versionNotes"
  [locale]="locale"
  >
</app-footer>
<!-- !Footer -->
