<!-- NavBar Header -->
<header>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/overview">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/add-new-scope">Add Scope</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/export-file">Export file</a>
    </li>
  </ul>
  
</header>
<!-- Content pages -->
<section class="app-content container-fluid">
  <router-outlet></router-outlet>
</section>
<!-- Footer -->
<footer>

</footer>