<div class="card card-vscode text-vscode bg-vscode mb-3 shadow-sm">
  <div class="card-header">Scope:</div>
  <div class="card-body p-2">
    <div class="mb-3">
      <label for="scopeConfigLabel" class="form-label">Scope Label</label>
      <input
        type="text"
        class="form-control form-control-vscode"
        id="scopeConfigLabel"
        placeholder="LENOUVEAUSITE.com"
        required
        [(ngModel)]="this?.scope.label"
        (input)="updatePreview()"

      />
      <!--(input)="updatePreview()"  -->
    </div>
    <div class="mb-3">
      <label for="scopeConfigMagentoId" class="form-label">Magento SCOPE ID</label>
      <input
        type="number"
        class="form-control form-control-vscode"
        id="scopeConfigMagentoId"
        min="0"
        required
        [(ngModel)]="this?.scope.magento_scope_id"
        (input)="updatePreview()"

      />
    </div>
    <div class="mb-3">
      <label for="scopeConfigData" class="form-label">Scope Logo</label>
      <textarea  class="form-control form-control-vscode" id="scopeConfigData" [placeholder]="placeHolder"
          rows="3" [(ngModel)]="this?.scope.logo_svg"
          ></textarea>
    </div>
    <button type="button" class="btn btn-secondary" (click)="saveConfig()">Save {{this?.scope.label}} Scope General Informations</button>
  </div>
</div>
