<div class="card card-vscode text-vscode bg-vscode mb-3 shadow-sm">
  <div class="card-header">Scope:</div>
  <div class="card-body p-2">
    <div class="mb-3">
      <label for="scopeConfigLabel" class="form-label"><i18n [txt]="'Scope Label'"></i18n></label>
      <input
        type="text"
        class="form-control form-control-vscode"
        id="scopeConfigLabel"
        placeholder="XXXXXXXXX.com"
        required
        [(ngModel)]="this?.scope.label"
        (input)="updatePreview()"

      />

    </div>
    <div class="mb-3">
      <label for="scopeConfigMagentoId" class="form-label"><i18n [txt]="'Magento SCOPE ID'"></i18n></label>
      <div class="input-group">
        <span *ngIf="this.currentScopeMagento == this.scope.magento_scope_id && !isNew" class="input-group-text magento-id-mine"><img class="svg-white" src="assets/svg/target.svg"  height="20px" width="20px"></span>
        <input
        type="number"
        class="form-control form-control-vscode magento-id-{{magentoIdIsFree?'free':'notfree'}}"
        id="scopeConfigMagentoId"
        min="0"
        required
        [(ngModel)]="this?.scope.magento_scope_id"
        (input)="checkIfMagentoScopeIsFree()"

      />
      </div>

    </div>
    <div class="mb-3">
      <label for="scopeConfigData" class="form-label"><i18n [txt]="'Scope Logo'"></i18n></label>
      <textarea  class="form-control form-control-vscode" id="scopeConfigData" [placeholder]="placeHolder | async"
          rows="3" [(ngModel)]="this?.scope.logo_svg"
          ></textarea>
    </div>
    <button type="button" class="btn btn-secondary {{magentoIdIsFree?'':'disable'}}" (click)="saveConfig(magentoIdIsFree)"><i18n [txt]="'Save %0 Scope General Informations'" [val]="[this?.scope.label]"></i18n></button>
  </div>
</div>
<!-- <i18n [txt]="'Delete %0 Scope'" [val]="[this?.scopeSelectedName]"></i18n> -->
