<div class="card card-vscode text-vscode bg-vscode mb-3 shadow-sm">
  <div class="card-header">Scope Configuration:</div>
  <div class="card-body  p-2 " *ngIf="this.scopeConfig" >
      <label for="configData{{id}}" class="form-label">Règle: *</label>
      <textarea  class="form-control form-control-vscode" id="configData{{id}}"
          rows="5" [(ngModel)]="this?.scopeConfig.config" required (input)="updatePreview()"></textarea>
      <br />
      <label for="condition{{id}}" class="form-label">Condition pour {{this?.scope.label}} *</label>
      <div class="input-group mb-3" id="condition{{id}}">
          <span class="input-group-text">{{this.outputSrv.texts.scope_config.condition_open_tag_start}}</span>
          <input type="url" class="form-control form-control-vscode" aria-label="the condition"
                  [(ngModel)]="this?.scopeConfig.condition" required (input)="updatePreview()">
          <span class="input-group-text">{{this.outputSrv.texts.scope_config.condition_open_tag_end}}</span>
      </div>
      <button type="button" class="btn btn-primary" (click)="clickSave()">Save {{this?.scope.label}} Scope Configuration</button>
      <!-- <button *ngIf="this?.prev" type="button" class="btn btn-success" (click)="clickPreview()">Preview</button> -->
  </div>
</div>
