
<app-loader [loaded]="pageLoaded" [color]="'#ffa500'"></app-loader>
<div class="page full-height  bg-vscode-dark text-vscode">
  <div class="row full-h">
    <div class="col  col-12 col-lg-6 full-h">
      <h1><i18n [txt]="'Create new Scope / website'"></i18n></h1>
<div class="card card-vscode text-vscode bg-vscode mb-3 full-h-3">
    <div class="card-header"><i18n [txt]="'Configuration'"></i18n></div>
    <div class="card-body  p-2">
      <app-scope
        *ngIf="!this.scopeSaved && !this.scopeConfigSaved"
        [scope]="this?.scope"
        (onChange)="updatePreview($event)"
        (onClickSave)="saveScope($event)"
        [isNew]="true"
      ></app-scope>
        <app-scope-config
          *ngIf="this.scopeSaved && !this.scopeConfigSaved"
          [id]="id"
          [scopeConfig]="this?.scopeConfig"
          [scope]="this?.scope"
          (onClickSave)="saveConfig($event)"
          [prev]="true"
          (onPreview)="updatePreview($event)"
        ></app-scope-config>
    </div>
  </div>
    </div>
    <div class="col col-12 col-lg-6">
      <!-- code preview -->
  <app-code-preview
  [preview]="this?.output"
  >
  </app-code-preview>
    </div>
  </div>


</div>
