
<div class="page full-height bg-add-scope">
<h1>Creation d'un nouveau Scope/Site</h1>
<div class="card text-dark bg-light mb-3">
    <div class="card-header">Configuration</div>
    <div class="card-body  p-2">
        <!-- <div class="mb-3">
            <label for="scopeConfigLabel" class="form-label">Scope Label</label>
            <input type="text" class="form-control" id="scopeConfigLabel" placeholder="LENOUVEAUSITE.com" required [(ngModel)]="this.scope.label"  (input)="updatePreview()">
        </div>
        <div class="mb-3">
          <label for="scopeConfigLabel" class="form-label">Magento SCOPE ID</label>
          <input type="number" class="form-control" id="scopeConfigLabel" min="0" required [(ngModel)]="this.scope.magento_scope_id"  (input)="updatePreview()">
      </div> -->
      <app-scope
        [scope]="this?.scope"
        (onChange)="updatePreview($event)"
      ></app-scope>
        <app-scope-config
          [id]="id"
          [scopeConfig]="this?.scopeConfig"
          [scope]="this?.scope"
          (onClickSave)="saveConfig($event)"
          [prev]="true"
          (onPreview)="updatePreview($event)"
        ></app-scope-config>
    </div>
  </div>
<!--   <pre>
{{this?.output}}
  </pre> -->
  <app-code-preview
  [preview]="this?.output"
  >
  </app-code-preview>
</div>