
<div class="page full-height  bg-vscode-dark text-vscode">
<h1>Creation d'un nouveau Scope/Site</h1>
<div class="card card-vscode text-vscode bg-vscode mb-3">
    <div class="card-header">Configuration</div>
    <div class="card-body  p-2">
      <app-scope
        *ngIf="!this.scopeSaved && !this.scopeConfigSaved"
        [scope]="this?.scope"
        (onChange)="updatePreview($event)"
        (onClickSave)="saveScope($event)"
      ></app-scope>
        <app-scope-config
          *ngIf="this.scopeSaved && !this.scopeConfigSaved"
          [id]="id"
          [scopeConfig]="this?.scopeConfig"
          [scope]="this?.scope"
          (onClickSave)="saveConfig($event)"
          [prev]="true"
          (onPreview)="updatePreview($event)"
        ></app-scope-config>
    </div>
  </div>
<!-- code preview -->
  <app-code-preview
  [preview]="this?.output"
  >
  </app-code-preview>
</div>
