
.full-container,
.app-root > .app-content {
    height: calc(100% - 56px);
}
@media (min-width: 992px){
  .full-container,
    .app-root > .app-content {
        height: calc(100% - 60px);
    }
}
footer {
    -webkit-user-select: none;
    height: 24px;
    font-family: Consolas, "Courier New", monospace;
    padding: 1px 20px;
    font-size: small;
    z-index:999;
}
