@import './colors.less';
body.light {
  @color_00: #ffffff;
  @color_01: #e4e3e3;
  @color_02: #cfcfcf;
  @color_03: #b9b9b9;
  @color_04: #252525;
  @color_05: #3f3f3f;
  @color_06: #eff8ff;
  @color_07: #f1f1f1;
  @color_08: #ecffe9;
  @color_09: #fff2dc;
  @color_10: #ffe2e2;
  @color_11: #c0c0c0;
  @color_12: #bebebe;
  @color_13: #d4d4d4;
  @color_14: #e7e7e7;
  @color_15: #ced4da;
  @color_16: #5e5e5e;
  @color_17: #cacaca;
  @color_18: #000000;
  @color_19: #c5c5c5;
  @color_20: #008000;
  @color_21: #ffa500;
  @color_22: #ff0000;
  @color_23: #b80000;
  @color_24: #c400c9;
  @color_25: #600081;
  @color_26: #dc3545;
  @color_27: #b22222;
  @color_28: #6495ed;
  @color_29: #6a9955;

  @color_alpha_00: #d8d8d898;
  @color_alpha_01: #d8d8d862;
  @color_alpha_02: #50505055;
  @color_alpha_03: #dddddd88;
  @color_alpha_04: #dddddd99;
  @color_alpha_05: #02020222;
  @color_alpha_06: #00000000;
  @color_alpha_07: #ff000055;


  @color_rgba_00: rgba(0, 0, 0,0.0);
  @color_rgba_01: rgba(30, 30, 30,1);
  @color_rgba_02: rgba(239, 248, 255, 1);
  @color_rgba_03: rgba(241, 241, 241, 1);
  @color_rgba_04: rgba(236, 255, 233, 1);
  @color_rgba_05: rgba(255, 242, 220, 1);
  @color_rgba_06: rgba(255, 226, 226, 1);
  @color_rgba_07: rgba(0, 0, 0, 0.5);
  @color_rgba_08: rgba(255, 255, 255, 0.3);
  @color_rgba_09: rgba(255, 255, 255, 0.125);
  @color_rgba_10: rgba(255, 255, 255, 0);

  @color_rgb_01: rgb(0, 122, 204);
  @color_rgb_02: rgb(212, 212, 212);
  @color_rgb_03: rgb(224, 224, 224);
  @color_rgb_04: rgb(202, 202, 202);
  @color_rgb_05: rgb(173, 173, 173);
  @color_rgb_06: rgb(224, 224, 224);
  @color_rgb_07: rgb(151, 151, 151);
  @color_rgb_08: rgb(191, 239, 191);
  @color_rgb_09: rgb(249, 224, 182);
  @color_rgb_10: rgb(249, 182, 182);
  @color_rgb_11: rgb(226, 192, 141);

  .colors();
  .svg-vs-code{
    filter: unset;
  }
}
