html, body {
  overflow: hidden;
}
body {
  font-family: "Ubuntu Mono","Liberation Mono","DejaVu Sans Mono","Courier New",monospace;
}
.mr-1{
  margin-right: .5rem;
}
.mr-2{
  margin-right: 1rem;
}
.ml-1{
  margin-left: .5rem;
}
.ml-2{
  margin-left: 1rem;
}

h1 {
  text-transform: uppercase;
  font-size: large;
}
h1::after,
h1::before {
  content: ' :: '
}
h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 3rem);
  overflow: hidden;
}
.btn {
  border-radius: 0;
}

.app-bar {
  position:relative;
  display:flex;
  flex-direction: row-reverse;
  -webkit-user-select: none;
  -webkit-app-region: drag;

}
.app-bar .logo {
  --logo-size: 1.6rem;
  --pad-size: .4rem;
  /* position: absolute; */
  order: 2;
  height: calc(var(--logo-size) - var(--pad-size));
  width: calc(var(--logo-size) - var(--pad-size));
  min-height: calc(var(--logo-size) - var(--pad-size));
  min-width: calc(var(--logo-size) - var(--pad-size));
  margin: var(--pad-size);
  margin-right: auto;
  margin-left: 1.3rem;
  background: transparent url("../assets/icons/icon_68.png") no-repeat border-box;
  background-size: contain;
}
.nav-tabs > .btn-close-custom {
  margin-left: auto;
}
.btn-close-custom {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  border: 0;
  opacity: 1;
  padding: .5rem 1rem;
  -webkit-app-region: no-drag;
  border-radius: 0;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a9a9a9'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
.btn-close-custom:hover{
  cursor:pointer;

}
.input-group>.form-select {
  width: 20%;
}
.accordion-middle:first-of-type .accordion-button,
.accordion-middle:last-of-type .accordion-button.collapsed,
.accordion-middle:last-of-type .accordion-collapse,
.accordion-middle {
  border-radius: 0!important;
}

.modal-header {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}
.modal-footer {
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.btn-xs {
  padding: 0 .2rem;
  font-size: .875rem;
  border: none;
}
.btn-icon {
  display:flex
}
.popover-header{

}
.popover-body{
  white-space: pre-line;
}
.rel{
  position: relative;
}
.abs{
  position: absolute;
}
.top-r{
  top:0;
  right:0;
}
.top-l{
  top:0;
  left:0;
}
.bottom-r{
  bottom:0;
  right:0;
}
.bottom-l{
  bottom:0;
  left:0;
}
