html, body {
  overflow: hidden;
}
body {
  font-family: "Ubuntu Mono","Liberation Mono","DejaVu Sans Mono","Courier New",monospace;
  border:solid 2px #2A2A2A
}
.mr-2{
  margin-right: 1rem;
}
.ml-2{
  margin-left: 1rem;
}

h1 {
  text-transform: uppercase;
  font-size: large;
}
h1::after,
h1::before {
  content: ' :: '
}



