
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background: #181818;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: #181818;
}
::-webkit-scrollbar-thumb:hover {
  cursor:pointer;
}
::-webkit-scrollbar-thumb {
  background: #64646462;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #64646498;
}
::-webkit-scrollbar-button { 
  background: #64646498;
}