
::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-track {
  background: #F5F5F5;
}
::-webkit-scrollbar-thumb:hover {
  cursor:pointer;
}
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 0.1em;
}

::-webkit-scrollbar-thumb:hover {
  background: #696969;
}
