
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb:hover {
  cursor:pointer;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
}
::-webkit-scrollbar-button {
}
