<footer class="footer container-fluid devbar">
  <div class="row">
    <div class="col output">{{output}}</div>
  <div class="col col-2 content">

    <ng-content></ng-content>
    <button *ngIf="version" class="btn btn-xs btn-icon ml-1 text-light" [title]="localTitle | async"><span>{{locale}}</span></button>
    <button *ngIf="version" class="btn btn-xs btn-icon ml-1 text-light" [title]="'version ' + version"><span>v.{{version}}</span></button>
    <button *ngIf="online !== undefined" class="btn btn-xs btn-icon ml-1 {{online?'on':'off'}}" [title]="online?'online':'offline'"><img class="{{online?'svg-white':'svg-danger'}}" src="assets/svg/network-{{online?'on':'off'}}.svg"  height="20px" width="20px"></button>
  </div>
  </div>
</footer>
<!--  -->
