<app-loader [loaded]="pageLoaded" [color]="'#6a7494'"></app-loader>
<div class="page full-height  bg-vscode-dark text-vscode rel">
  <h1><i18n [txt]="'Batch processing'"></i18n></h1>
  <!-- Export list to be batched-->
  <div class="card card-vscode text-vscode bg-vscode mb-3">
    <div class="card-header"><i18n [txt]="'Export | Google | Backlinks'"></i18n></div>
    <div class="card-body  p-2">
        <!--  Export BUTTON  -->
        <div class="row">
          <div class="col-12 col-md-4 d-flex">
            <button
              color="success"
              class="btn btn-success text-nowrap btn-sm flex-fill unborded"
              (click)="export(-1)"
            ><i18n [txt]="'Export the complete list'"></i18n>
            </button>
          </div>
          <div class="col-12 col-md-4 d-flex">
            <button
              color="primary" disabled
              class="btn btn-primary text-nowrap btn-sm flex-fill unborded"
            ><i18n [txt]="'|--- Google Search Console ---|'"></i18n>
            </button>
          </div>
          <div class="col-12 col-md-4 d-flex">
            <button
              color="info" disabled
              class="btn btn-info text-nowrap btn-sm flex-fill unborded"
            ><i18n [txt]="'|--- Locked for Backlinks ---|'"></i18n>
            </button>
          </div>
        </div>
          <div *ngFor="let scope of this?.scopesRefs" class="row">
            <div class="col-12 col-md-4  d-flex">
              <button
                color="secondary"
                class="btn btn-secondary text-nowrap btn-sm flex-fill unborded"
                (click)="export(scope.id, scope.label)"
                ><i18n [txt]="'Export %0'" [val]="[scope.label]"></i18n>
              </button>
            </div>
            <div class="col-12 col-md-4 d-flex">
                <app-input-button
                [scope]="scope"
                [style]="'primary'"
                [svg]="'import'"
                [label]="'Vérifier pour '"
                [for_id]="'_google'"
                (onChange)="exportFromGoogleSearchConsole($event,scope.id, scope.label)"
              ></app-input-button>
            </div>
            <div class="col-12 col-md-4 d-flex">
              <app-input-button
                [scope]="scope"
                [style]="'info'"
                [svg]="'target'"
                [label]="'Verouiller pour '"
                [for_id]="'_backlink'"
                (onChange)="addLockedRulesForBacklinks($event,scope.id, scope.label)"
              ></app-input-button>
            </div>
        </div>
    </div>
  </div>
  <!-- Rules Selection-->
  <div class="card card-vscode text-primary bg-vscode mb-3 ">
    <div class="card-header"><i18n [txt]="'Import csv'"></i18n></div>
    <div class="card-body  p-2">
      <div class="input-group">
        <input
        type="file"
        class="form-control form-control-vscode"
        id="fileUpload"
        (change)="onFileSelected($event)"
        #fileUpload
      />
      </div>
    </div>
  </div>
  <!-- Display to be uptaded Rules-->
  <div *ngIf="this.rulesToBeProcess.length" class="card card-vscode text-vscode bg-vscode mb-3">
    <div class="card-header"><i18n [txt]="'Import csv'"></i18n></div>
    <div class="card-body  p-2">
      <ul class="list-group" id="rulesToBeUpdate">
        <li *ngFor="let rule of this!.rulesToBeProcess; let idr = index" class="list-group-item">
          <!-- ({{rule.id}})1 {{rule.origin}} 2 {{rule.target}} -->
          <!-- TODO: change the <app-rule-line> -->
          <app-rule-line
            [isJustPreview]="true"
            [movable]="false"
            [id]="rule.id"
            [idr]="idr"
            [rule]="rule"
            [redirectTypes]="this!.redirectTypes"
            (onUseIt)="setUseIt($event)"
          ></app-rule-line>
          <!-- !change the <app-rule-line> -->
        </li>
      </ul>
    </div>
  </div>
  <div class="row" *ngIf="this.rulesToBeProcess.length">
    <div class="col  col-12 col-lg-6 col-xl-4">
      <!-- Comment / Suppress -->
      <div class="card card-vscode text-vscode bg-vscode mb-3 ">
        <div class="card-header"><i18n [txt]="'Suppress / Comment rules'"></i18n></div>
        <div class="card-body  p-2">
          <button type="button" class="btn btn-warning btn-sm" (click)="comment()"><i18n [txt]="'Comment'"></i18n></button>
          <button type="button" class="btn btn-outline-warning btn-sm" (click)="uncomment()"><i18n [txt]="'Uncomment'"></i18n></button>
          <button type="button" class="btn btn-danger btn-sm" (click)="delete()"><i18n [txt]="'Remove'"></i18n></button>
        </div>
      </div>
    </div>
    <div class="col  col-12 col-lg-6 col-xl-4">
      <!-- Redirect States -->
      <div class="card card-vscode text-vscode bg-vscode mb-3 ">
        <div class="card-header"><i18n [txt]="'Change redirects states'"></i18n></div>
        <div class="card-body  p-2">
          <button type="button" class="btn btn-primary btn-sm" (click)="setPermanent()"><i18n [txt]="'Set Permanent'"></i18n></button>
          <button type="button" class="btn btn-info btn-sm" (click)="setTemporary()"><i18n [txt]="'Set Temporary'"></i18n></button>
        </div>
      </div>
    </div>
    <div class="col  col-12 col-lg-6 col-xl-4">
      <!-- Update ? -->
      <div class="card card-vscode text-vscode bg-vscode mb-3 " >
        <div class="card-header"><i18n [txt]="'Mise à jour ?'"></i18n></div>
        <div class="card-body  p-2">
          <button type="button" class="btn btn-warning btn-sm" disabled><i18n [txt]="'Comment'"></i18n></button>
          <button type="button" class="btn btn-danger btn-sm" disabled><i18n [txt]="'Remove'"></i18n></button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.backlinksToBeLocked.length" class="card card-vscode text-vscode bg-vscode mb-3">
    <div class="card-header"><i18n [txt]="'Import csv'"></i18n></div>
    <div class="card-body  p-2">
      <ul class="list-group" id="rulesToBeUpdate">
        <li *ngFor="let backlink of this!.backlinksToBeLocked; let idr = index" class="list-group-item"><span class="text-danger">{{idr}} </span> <span class="text-success">{{backlink[0]}} </span> <span class="text-light">{{backlink[1]}} </span></li>
      </ul>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-secondary btn-sm" (click)="lockRules($event)"><i18n [txt]="'Lock'"></i18n></button>
    </div>
  </div>





  <app-tips [tipsFileName]="'batch'"></app-tips>
</div>
