<div class="page full-height  bg-vscode-dark text-vscode">
<h1><i18n [txt]="'Deleting a scope'"></i18n></h1>


<select #selectScopes name="scopes" class="form-select form-select-vscode form-select form-select--sm " [title]="placeHolder | async"  (change)="change($event)">
    <option value=""><i18n [txt]="'Choose the scope to delete'"></i18n></option>
    <option *ngFor="let scope of scopes; let id = index" [value]="scope.id">{{scope.label | uppercase}}</option>
  </select>

    <div *ngIf="this?.scopeSelected">
        <button type="button" class="btn btn-warning mt-2" data-bs-toggle="modal"
        [attr.data-bs-target]="'#deleteModal'">
            <i18n [txt]="'Deleted %0 All references ?'" [val]="[this?.scopeSelectedName]"></i18n>
        </button>
    </div>
</div>



<div
    #deleteModal
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
    <div class="modal-content bg-vscode text-vscode">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete {{this?.scopeSelectedName}} Scope</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <i18n [txt]="'Are you sure you want to delete'"></i18n> <span class="text-danger">{{this?.scopeSelectedName}}</span> ??
        <p><i18n [txt]="'this will delete all the rules linked to this scope, as well as the associated configuration'"></i18n></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" (click)="deleteScopeConfig()">
          <i18n [txt]="'Yes i want to delete %0 All informations'" [val]="[this?.scopeSelectedName]"></i18n>
        </button>
      </div>
    </div>
  </div>
</div>
